/*
Theme Name: Commons in a Box
Theme URI: http://commonsinabox.org
Description: Commons In A Box is a software project aimed at turning the infrastructure that successfully powers the CUNY Academic Commons into a free, distributable, easy-to-install package. Commons In A Box is made possible by a generous grant from the Alfred P. Sloan Foundation.
Tags: buddypress
Version: 1.0
Author: PressCrew
Author URI: http://community.presscrew.com/
Template: infinity
*/
