/* ================== */
/* ! Global Changes   */
/* ================== */
.appearance_page_infinity-theme:before {
    background: url("../../../../assets/images/bg.png") repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    left: 0;
    min-height: 100%;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

div.updated, div.error {
    display: none;
}

div#infinity-cpanel-header-logo {
    background: url("../../../../assets/images/logo.png") no-repeat scroll 0 0 transparent;
    height: 61px;
    margin-bottom: -9px;
    width: 187px;
}

div#infinity-cpanel-toolbar {
    float: right;
    margin-bottom: -26px;
    margin-top: -74px;
}

div#infinity-cpanel-tabs {
    background: none repeat scroll 0 0 transparent;
}

.ui-tabs-panel {
box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.024), 0 0 3px 0 rgba(0, 0, 0, 0.15), 0 0 0 6px rgba(0, 0, 0, 0.02) inset;   
background: #FFF !important; 
}

.appearance_page_infinity-theme {
	background-color: #f9f9f9;
    position: relative;
    z-index: 0;
}

div#infinity-cpanel-header {
    padding: 10px 20px;
}

#infinity-cpanel-options-content .pie-easy-exts-sections-default-title,
div#infinity-cpanel-header-logo,
.pie-easy-exts-options-ui-slider-values,
.infinity-docs h2,
#infinity-cpanel-options-content .pie-easy-exts-sections-default-title {
    color: #F8992F;
    font-family: "Droid Serif";
    font-style: italic;
}

div#infinity-cpanel-header-version {
    font-family: "Droid Serif";
    font-style: italic;
}

#infinity-cpanel #infinity-cpanel-options-content textarea {
width: 100%;
}


/* ============== */
/* ! Start Page   */
/* ============== */
.start-page { overflow: hidden }
.infinity-content-wrap {
    width: 70%;
    float: left;
    display: block;
}
.infinity-sidebar-wrap {
    width: 30%;
    float: left;
    display: block;
}
#infinity-sidebar {
    padding: 10px;
    padding-left: 20px;
    background: url("../images/texture.png") #FFF;
    border-left: 1px solid #DDDDDD;
}
.infinity-content { padding-right: 20px }
.introduction-box {
    background: url("../images/cpanel_sprite.png") no-repeat scroll -25% -167px #434343;
    border: 1px solid #EDEDED;
    border-radius: 4px 4px 4px 4px;
    color: #EFEFEF;
    font-family: "droid serif";
    font-size: 14px;
    font-style: italic;
    margin-top: 10px;
    padding: 21px 20px 15px 87px;
    text-shadow: 0 1px 0 #030303;
    border-bottom: 2px solid #F09B3D;
    border-top: 2px solid #848181;
}
.start-page li {
    background: url("../images/cpanel_sprite.png") no-repeat scroll 1px -113px transparent;
    padding-left: 17px;
    font-weight: bold;
}
.start-page li :hover { background: url("../images/cpanel_sprite.png") no-repeat scroll 1px -135px transparent }
.start-page h4 .button {
    background: none repeat scroll 0 0 #444444;
    border-radius: 4px 4px 4px 4px;
    color: #EFEFEF;
    font-size: 10px !important;
    letter-spacing: 0.3px;
    margin-left: 6px;
    text-shadow: 0 1px 0 #222222;
    text-transform: uppercase;
}
ul.checkbox li {
    background: url("../images/check.png") no-repeat scroll 0 0 transparent;
    color: #666666;
    font-family: "Droid Serif";
    font-size: 14px;
    font-style: italic;
    line-height: 17px;
    list-style: none outside none;
    margin-bottom: 6px;
    padding-left: 20px;
}

.infinity-sidebar-wrap h4 {
    color: #FB8744;
}

.dashboard-widget {
    border-bottom: 1px solid #E1E1E1 !important;
    border-top: 1px solid #FFFFFF !important;
    margin-left: -20px;
    margin-right: -20px;
    padding-bottom: 15px;;
        padding-left: 20px;
    padding-right: 20px;
}

.ui-accordion-header .infinity-cpanel-options-menu-showall  {
    border: 1px solid #B5B5B5 !important;
    padding: 2px 0 !important;
}


/* ========= */
/* ! Icons   */
/* ========= */

#menu___buddypress .ui-icon {
background: url("http://foksite.dev/buddypress/wp-content/themes/infinity/assets/images/icons/black.png") no-repeat scroll -3px -1532px transparent !important;
}
#menu___buddypress .ui-icon-folder-open {
background: url("http://foksite.dev/buddypress/wp-content/themes/infinity/assets/images/icons/white.png") no-repeat scroll -3px -1532px transparent !important;
}

#menu___appearance .ui-icon {
background: url("http://foksite.dev/buddypress/wp-content/themes/infinity/assets/images/icons/black.png") no-repeat scroll -5px -241px transparent !important;
}
#menu___appearance .ui-icon-folder-open {
background: url("http://foksite.dev/buddypress/wp-content/themes/infinity/assets/images/icons/white.png") no-repeat scroll -5px -241px transparent !important;
}

#menu___homepage .ui-icon {
background: url("http://foksite.dev/buddypress/wp-content/themes/infinity/assets/images/icons/black.png") no-repeat scroll -728px -309px transparent !important;
}
#menu___homepage .ui-icon-folder-open {
background: url("http://foksite.dev/buddypress/wp-content/themes/infinity/assets/images/icons/white.png") no-repeat scroll -728px -309px transparent !important;
}

#menu___hooks .ui-icon {
background: url("http://foksite.dev/buddypress/wp-content/themes/infinity/assets/images/icons/black.png") no-repeat scroll -5px -207px transparent !important;
}
#menu___hooks .ui-icon-folder-open {
background: url("http://foksite.dev/buddypress/wp-content/themes/infinity/assets/images/icons/white.png") no-repeat scroll -5px -207px transparent !important;
}

div#infinity-cpanel-options .ui-accordion .ui-accordion-header a {
    font-weight: bold;
    padding: 8px 27px;
    text-shadow: 0 1px 0 #FFFFFF;
}

div#infinity-cpanel-options .ui-accordion .ui-state-active a {
    border-bottom: 1px solid #FF825C;
    text-shadow: 0 -1px 0 #000000 !important;
}


/* Hacks */
a#infinity-cpanel-refreshbutton, input#infinity-cpanel-scrollbutton + label.ui-button,#infinity-cpanel-menubutton {
    display: none;
}

div#infinity-cpanel-toolbar .ui-button-text {
    font-size: 16px;
    padding-left: 22px;
}

