.row {
	width: 1150px;
}

/* Global Negative Horizontal Padding */
#bbpress-forums,
div.bbp-breadcrumb,
#item-body form#whats-new-form,
div.item-list-tabs,
#powered-by,
#header #site-title,
.negative,
#group-navigation,
#profile-sidebar,
.sidebar-activity-tabs,
#sidebar .widget h4,
#vertical-activity-tabs,
.sidebar-activity-tabs ul li {
	margin-left: -30px;
    margin-right: -30px;
    padding-left: 30px;
    padding-right: 30px;
}
/* Global Negative Vertical Padding */
#profile-sidebar {
	margin-bottom: -30px;
    margin-top: -30px;
    padding-bottom: 30px;
    padding-top: 30px;
}
#header {
    padding-bottom: 30px;
    padding-top: 30px;
}
h1#site-title,div#site-title {
	padding: 10px 30px 6px;
}
#site-description {
    position: relative;
    font-size: 14px;
    line-height: 180%;
}
/* Menus */
#main-menu-wrap {
    padding: 10px 0 0;
}
.base-menu {
    padding-left: 20px;
    padding-right: 20px;
}
#main-menu-wrap .sub-menu { margin: 8px 0 0 }
.base-menu .sub-menu { padding-left: 0px !important }

/* Widgets */
.widget { margin: 0 0 20px }

#category-description, #tag-description {
    padding: 10px 10px 10px 0;
}

