/*
----------------------------------------------------------------
//LAYOUT
+ Global & Wraps
+ Header
+ Navigation Menus
+ Content
+ Sidebar
+ Footer
+ Activity Stream
+ Groups Directory
+ Member Directory
+ Misc.

You can disable the css in this file by adding the following code to your child theme config/infinity.ini file.

cbox-design = off

This allows you to quickly create a custom style for your theme. When you're developing always make sure to turn on Infinity
developer mode by addding the following to your wp-config or functions.php

define( 'INFINITY_DEV_MODE', true );
	

Infinity combines all the stylesheets into one file called dynamic.css. You can also write CSS using LESS. To learn all about this visit
http://infinity.presscrew.com/learn
--------------------------------------------------------------*/
body {
	background: url("../images/bg-body.gif") repeat transparent;
	border-top: 5px solid #4B4A47;
	font: 13.6px/140% "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}
h2.page-title a,h2.post-title a,h1.page-title a,h1.post-title a {
	color: #545454;
	margin-top: 0;
}
h2.page-title,h2.post-title,h1.page-title,h1.post-title {
	color: #545454;
	margin-top: 0;
}
a {
	color: #4183C4;
	text-decoration: none;
	-webkit-transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;
	-ms-transition: color 0.1s linear;
	transition: color 0.1s linear;
}
a:hover {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding-bottom: 1px;
	color: #777;
}
.base-menu a:hover,#object-nav a:hover,#subnav a:hover,#logo-menu-wrap a:hover,.sidebar-activity-tabs a:hover {
	border: none;
}
#header {
	background: #111;
	border-radius: 5px 5px 0px 0px;
}
/* Also add a border radius to our pseudo element for header background */
#header:before {
	border-radius: 5px 5px 0px 0px;
}
h1#site-title,div#site-title {
	border-bottom: 2px solid #DDDDDD;
	border-radius: 0 12px 12px 0;
	border-right: 1px solid #C1C1C1;
	border-top: 1px solid #D0CECE;
}
#site-description {
	font-style: italic;
	color: #999999;
}
.main-wrap {
	background: #FFF;
}
/* Global CSS3 Stuff */
.top-menu,.top-wrap .sub-menu,.item-list-tabs,.footer-wrap,thead:first-child tr th,thead:first-child tr td,.base-menu ul ul,.sidebar-activity-tabs ul li.current,.sidebar-activity-tabs ul li.selected,.docs .toggle-switch,.post-title:before {
	background-image: -webkit-linear-gradient(top, #333333 0%, #222222 100%);
	background-image: -moz-linear-gradient(top, #333333 0%, #222222 100%);
	background-image: -o-linear-gradient(top, #333333 0%, #222222 100%);
	background-image: -ms-linear-gradient(top, #333333 0%, #222222 100%);
	background-image: linear-gradient(top, #333333 0%, #222222 100%);
	background-repeat: repeat-x;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
	border-bottom: 1px solid #292525;
	border-top: 2px solid #525151;
}
#footer .widget h4 {
	border-bottom: 1px solid #3E3C3C;
	color: #E0E0E0;
}
.author-box,.category-box,.tag-box,.info-box,#sidebar,.activity-inner,div.activity-comments form.ac-form,.postthumb img,span.activity,h1#site-title,div#site-title,#inner-sidebar,.sidebar-activity-tabs ul li,div#subnav.item-list-tabs,#top-homepage,.fluid-width-video-wrapper {
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%);
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%);
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%);
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%);
	background-image: linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%);
	-image -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
	text-shadow: 0 1px 0 #FFFFFF;
	border: 0px;
}
/* Menus */
.base-menu ul a,div.item-list-tabs ul li a,div.item-list-tabs ul li span,#footer-menu ul li a {
	color: #EFEFEF;
	font-weight: 400;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.main-menu {
	border-radius: 6px 6px 6px 6px;
	font-size: 115%;
}
.main-menu ul a {
	font-weight: 500;
	border-radius: 6px 6px 6px 6px;
}
.base-menu ul li.current-cat a span,.base-menu ul li.current_page_item a span,.base-menu ul li.current-menu-item a span {
	font-weight: bold;
	background: #000;
}
.widget h4,#vertical-activity-tabs h4 {
	border-bottom: 1px solid #EDEDED;
}
/* Footer */
#footer .footer-widget {
	color: #EFEFEF;
	font-weight: 400;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	width: 33%;
}
#content .homepage-widget {
	width: 33%;
}
#powered-by {
	min-height: inherit;
}
/* WordPress */
h1#category-title,h1#tag-title {
	color: #999;
	font-size: 125%;
}
h1#category-title span,h1#tag-title span {
	color: #555;
}
/* BuddyPress */
#item-header-avatar img.avatar {
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
	border-radius: 8px;
}
ul.item-list li img.avatar,#whats-new-avatar img,.item-avatar img {
	border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
/* Activity Stream */
.activity-item .activity-meta {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	height: 0px;
}
.activity-item:hover .activity-meta {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	-ms-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 0.7s;
	-moz-transition-duration: 0.7s;
	-o-transition-duration: 0.7s;
	-ms-transition-duration: 0.7s;
	transition-duration: 0.7s;
	height: auto;
}
#vertical-activity-tabs ul li a {
	background-color: transparent;
	color: #777;
	font-weight: bold;
	text-shadow: none;
}
#vertical-activity-tabs ul li a:hover {
	color: #222;
}
#vertical-activity-tabs ul li.selected a {
	color: #EFEFEF;
}
div.item-list-tabs ul li a span {
	border-radius: 4px 4px 4px 4px;
	color: #999;
}
#subnav ul {
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
ul.item-list li:last-child {
	border-bottom: 0px;
}
#subnav.item-list-tabs ul li a {
	color: #787676;
	font-weight: bold;
	text-shadow: none;
}
div#subnav.item-list-tabs {
	border-bottom: 1px solid #E8E8E8;
	border-top: 1px solid #EEEEEE;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#sidebar .item-list-tabs li.loading a {
	background: transparent !important;
	background-image: url("../images/ajax-loader.gif" ) !important;
	background-repeat: no-repeat !important;
	background-position: 5px 8px !important;
}
span.activity {
	border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	color: #777777;
	font-size: 75%;
	font-weight: 400;
}
#powered-by {
	background: none repeat scroll 0 0 #2F2F2F;
	border-top: 1px solid #454545;
	color: #DDDDDD;
	font-weight: bold;
}
#profile-nav-menu ul li a:before {
	content: "+";
	padding-right: 5px;
}
#item-body form#whats-new-form {
	background: none repeat scroll 0 0 #F8F8F8;
	border-bottom: 1px solid #DDDDDD;
}
.bp-user #item-buttons .generic-button a:hover {
	color: #4183C4;
}
.bp-user #item-buttons .generic-button a {
	font-size: 120%;
}
.sidebar-activity-tabs ul li a {
	color: #777;
	font-weight: bold;
}
.sidebar-activity-tabs ul li a:hover {
	color: #222;
}
.sidebar-activity-tabs ul li span,.sidebar-activity-tabs ul li.current span,.sidebar-activity-tabs ul li.selected span {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 4px 4px 4px 4px;
	color: #A6A4A3;
	font-size: 75%;
	font-weight: bold;
}
.sidebar-activity-tabs ul li.current span,.sidebar-activity-tabs ul li.selected span {
	background: none repeat scroll 0 0 #333333;
	color: #999999;
	border: 1px solid #282828;
}
#vertical-activity-tabs ul li span {
	background: transparent;
}
.sidebar-activity-tabs ul li.current,.sidebar-activity-tabs ul li.selected {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.sidebar-activity-tabs .profile-subnav li.selected {
	background: none repeat scroll 0 0 #363636;
	border-top: 1px solid #3E3D3D;
}
.sidebar-activity-tabs ul.profile-subnav li.current.selected a {
	color: #FFF;
	font-weight: bold;
}
.sidebar-activity-tabs ul li.current a,.sidebar-activity-tabs ul li.selected a {
	color: #EFEFEF;
	font-weight: bold;
}
.sidebar-activity-tabs ul li:hover a {
	font-weight: bold;
}
/* Second Level */
#object-nav ul.profile-subnav {
	border-bottom: 0 none;
	border-top: 1px solid #1A1A1A;
}
ul.profile-subnav li {
	text-shadow: 0 1px 0 #111111;
	border-top: 1px solid #444;
	border-bottom: 1px solid #333;
	background: none repeat scroll 0 0 #363636;
}
.sidebar-activity-tabs ul li.current ul.profile-subnav li a {
	background-image: none !important;
	color: #AAAAAA;
	font-weight: normal;
}
.sidebar-activity-tabs ul li.current ul.profile-subnav li a:hover {
	color: #FFF;
}
/* ======== */
/* ! Misc    */
/* ======== */
thead:first-child tr th,thead:first-child tr td {
	color: #DDD;
}
div#invite-list {
	background: none repeat scroll 0 0 #F5F5F5;
	border: 1px solid #E4E4E4;
}
/* ======== */
/* ! HomePage    */
/* ======== */
.flexslider .slides img {
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
.flex-caption {
	background-image: url("../../engine/includes/feature-slider/assets/images/slides-bg.png");
	color: #FFF;
	text-shadow: 0 1px 0 #000000;
	border-top: 1px solid #545353;
}
.flex-caption h2 {
	color: #EFEFEF;
}
/* ======== */
/* ! Docs    */
/* ======== */
thead:first-child tr th a,thead:first-child tr td a {
	color: #EFEFEF;
}
.docs .doc-tabs {
	background: none repeat scroll 0 0 #FFFFFF;
}
.docs .doc-tabs li a {
	border-radius: 5px 5px 5px 5px;
}
.docs .toggle-content {
	border: 1px solid #DDD;
	border-radius: 0px 0px 3px 3px;
}
.docs div.docs-info-header {
	background: transparent;
}
/* Email Nofications */
.single-item .group-subscription-div {
	color: green;
}
